.forgot-password, .reset-pwd{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.forgot-container{
    display: flex;
    width:600px;
    height:300px;
    background-color: white;
    /* margin-top: 30px; */
    padding: 40px;
    margin-bottom: 50px;
    justify-content: center;
    flex-direction: column;
}
.reset-container {
    display: flex;
    width:600px;
    height:400px;
    background-color: white;
    /* margin-top: 80px; */
    padding: 40px;
    margin-bottom: 50px;
    justify-content: center;
    flex-direction: column;
}
.forgot-container h1 {
    color: #1E1E1E;
    margin-bottom: 0;
    font-size: 2.2rem;      /* smaller, adjust as needed */
    line-height: 1.2;
    word-break: break-word; /* allows breaking if still too long */
    text-align: left;       /* or center if you prefer */
}

.forgot-form, .reset-form {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
}
.forgot-form label, .reset-form label{
    justify-content: flex-start;
    margin-bottom: 0;
    color: #1E1E1E;
}
.forgot-form input, .reset-form input {
    margin-top: 0;
    width: 100%;
}
.forgot-form button, .reset-form button {
    background-color: #d94e28;
    width: 100%;
    border-radius: 0;
    transition: 0.35s;
}
.forgot-form button:hover, .reset-form button:hover{
    color: #1E1E1E;
}
