/* Container for the entire login component */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    /*background-color: #f5f5f5;*/
}

/* Card styling for the login form */
.login-card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    background-color: #f5f5f5;
}

/* Title styling */
.login-card h2 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
}

/* Input field styling */
.login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

/* Login button styling */
.login-button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Button hover effect */
.login-button:hover {
    background-color: #333;
}