.support {
    min-height: 100vh;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical centering */
    align-items: center;     /* horizontal centering */
    padding: 0;
    margin: 0;
}

.support-container {
    width: 100%;
    max-width: 420px;
    background: #fff;
    box-shadow: 0 4px 28px rgba(44,62,80,0.09);
    border-radius: 18px;
    padding: 40px 30px 32px 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.support-form {
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: 20px;
}
.support-form input {
    margin-top: 0;
}
.support-form label {
    margin-bottom: -10px;
}
.support-button1 {
    background-color: #d94e28;
    right: 0;
    position: relative;
    border-radius: 0;
    width: 80px;
    transition: 0.35s;
}
.support-button1:hover{
    color: #1E1E1E;
}
.support-send {
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}
